<app-section sectionId="about" [title]="'about.title' | translate" containerSize="md">
  <p class="about-bio">{{ 'about.bio' | translate }}</p>
  <div class="about-links">
    <a class="about-link" href="https://github.com/Nathan-Pignon" target="_blank" rel="noopener noreferrer">
      <app-icon name="external-link"></app-icon>
      GitHub
    </a>
    <a class="about-link" href="https://www.linkedin.com/in/nathan-pignon-b8b395199/" target="_blank" rel="noopener noreferrer">
      <app-icon name="external-link"></app-icon>
      LinkedIn
    </a>
  </div>
</app-section>
