<div class="contact-form-card">
  <app-card [style]="'contact-card'">
    <div *ngIf="!emailSent; else validationTemplate">
      <h1><i class="fa-solid fa-envelope"></i>{{ 'contact.title' | translate }}</h1>
      <form *ngIf="!isLoading; else loadingTemplate" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="name">{{ 'contact.name' | translate }}</label>
          <input type="text" formControlName="name" id="name" placeholder="{{ 'contact.namePlaceholder' | translate }}" required
                 [ngClass]="{'is-invalid': isInvalid('name')}">
          <div *ngIf="isInvalid('name')" class="error">
            {{ 'contact.nameRequired' | translate }}
          </div>
        </div>

        <div class="form-group">
          <label for="email">{{ 'contact.email' | translate }}</label>
          <input type="email" formControlName="email" id="email" placeholder="{{ 'contact.emailPlaceholder' | translate }}" required
                 [ngClass]="{'is-invalid': isInvalid('email')}">
          <div *ngIf="isInvalid('email')" class="error">
            {{ 'contact.invalidEmail' | translate }}
          </div>
        </div>

        <div class="form-group">
          <label for="message">{{ 'contact.message' | translate }}</label>
          <textarea formControlName="message" id="message" rows="5" placeholder="{{ 'contact.messagePlaceholder' | translate }}" required
                    [ngClass]="{'is-invalid': isInvalid('message')}"></textarea>
          <div *ngIf=" isInvalid('message')" class="error">
            {{ 'contact.messageRequired' | translate }}
          </div>
        </div>

        <div class="buttons-container">
          <button type="submit" [disabled]="contactForm.invalid">
            {{ 'contact.send' | translate }} <i class="fa fa-paper-plane"></i>
          </button>
          <div class="socials-medias-container">
            <a href="https://github.com/Nathan-Pignon" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/nathan-pignon-b8b395199/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>
      </form>
      <ng-template #loadingTemplate>
        <div class="loading-message">
          <div class="spinner"></div>
          <p>{{ 'contact.sending' | translate }}</p>
        </div>
      </ng-template>
    </div>
    <ng-template #validationTemplate>
      <div class="validation-message">
        <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
        <p>{{ 'contact.success' | translate }}</p>
      </div>
    </ng-template>
  </app-card>
</div>
