<div class="title-container">
  <div class="title-wrapper">
    <img class="profile-pic" src="assets/images/profil-picture.png" alt="Photo de profil">
    <h1>Développeur Full-stack</h1>
  </div>
  <div class="tech-logos">
    <img ngSrc="assets/images/java-logo.png" width="1200" height="2232" loading="lazy" alt="Java" id="java-logo" class="tech-logo">
    <img ngSrc="assets/images/angular-logo.png" width="3840" height="1200" loading="lazy" alt="Angular" id="angular-logo" class="tech-logo">
    <img ngSrc="assets/images/react-logo.png" width="1200" height="1068" loading="lazy" alt="React" id="react-logo" class="tech-logo">
    <img ngSrc="assets/images/vue-logo.png" width="1200" height="1040" loading="lazy" alt="Vue" id="vue-logo" class="tech-logo">
    <img ngSrc="assets/images/flutter-logo.png" width="320" height="320" loading="lazy" alt="Flutter" id="flutter-logo" class="tech-logo">
  </div>
</div>
