<div class="title-container">
  <div class="title-wrapper">
    <img class="profile-pic" src="assets/images/profil-picture.png" alt="Photo de profil">
    <h1>Développeur Full-stack</h1>
  </div>
  <div class="tech-logos">
    <img src="assets/images/java-logo.png" alt="Java" id="java-logo" class="tech-logo">
    <img src="assets/images/angular-logo.png" alt="Angular" id="angular-logo" class="tech-logo">
    <img src="assets/images/react-logo.png" alt="React" id="react-logo" class="tech-logo">
    <img src="assets/images/vue-logo.png" alt="Vue" id="vue-logo" class="tech-logo">
    <img src="assets/images/flutter-logo.png" alt="Flutter" id="flutter-logo" class="tech-logo">
  </div>
</div>
