@import "assets/style/mixins.scss";

.projects-featured {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-bottom: var(--space-8);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-6);

  @include from(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
