.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.container--sm {
  max-width: calc(var(--container-sm) + var(--gutter) * 2);
}

.container--md {
  max-width: calc(var(--container-md) + var(--gutter) * 2);
}

.container--lg {
  max-width: calc(var(--container-lg) + var(--gutter) * 2);
}
