@import "assets/style/variables.scss";
body {
  margin: 0;
  background: url("assets/images/fond4.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba($blue-color, 0.3), rgba($black-color, 0.9));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  z-index: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
